.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
testSpace/**
doc/dev/**
packages/**

**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.gitignore
**/.drawio
**/.prettierignore
**/.prettierrc
**/webpack.config.js
**/.yarnrc
